[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
geopandas = "*"
weightedstats = "*"
shapely = "*"
pyyaml = "*"
h3 = "*"
networkx = "*"
osmnx = "*"
libpysal = "*"

[dev-packages]

[requires]
python_version = "3.12"
