access @ file:///home/conda/feedstock_root/build_artifacts/access_1659357695203/work
affine @ file:///home/conda/feedstock_root/build_artifacts/affine_1648309059244/work
amply @ file:///home/conda/feedstock_root/build_artifacts/amply_1650975715775/work
anyio @ file:///home/conda/feedstock_root/build_artifacts/anyio_1666191106763/work/dist
appdirs @ file:///home/conda/feedstock_root/build_artifacts/appdirs_1603108395799/work
argon2-cffi @ file:///home/conda/feedstock_root/build_artifacts/argon2-cffi_1640817743617/work
argon2-cffi-bindings @ file:///D:/bld/argon2-cffi-bindings_1666850983803/work
asttokens @ file:///home/conda/feedstock_root/build_artifacts/asttokens_1670263926556/work
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1671632566681/work
aws-requests-auth==0.4.2
Babel @ file:///home/conda/feedstock_root/build_artifacts/babel_1667688356751/work
backcall @ file:///home/conda/feedstock_root/build_artifacts/backcall_1592338393461/work
backports.functools-lru-cache @ file:///home/conda/feedstock_root/build_artifacts/backports.functools_lru_cache_1618230623929/work
beautifulsoup4 @ file:///home/conda/feedstock_root/build_artifacts/beautifulsoup4_1649463573192/work
bleach @ file:///home/conda/feedstock_root/build_artifacts/bleach_1656355450470/work
boto3 @ file:///home/conda/feedstock_root/build_artifacts/boto3_1672221869567/work
botocore @ file:///home/conda/feedstock_root/build_artifacts/botocore_1672210359558/work
branca @ file:///home/conda/feedstock_root/build_artifacts/branca_1667848736831/work
brotlipy @ file:///D:/bld/brotlipy_1666764815687/work
build==0.9.0
certifi==2022.12.7
cffi @ file:///D:/bld/cffi_1671179514672/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1661170624537/work
click @ file:///D:/bld/click_1666798499870/work
click-plugins==1.1.1
cligj @ file:///home/conda/feedstock_root/build_artifacts/cligj_1633637764473/work
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1666700638685/work
comm @ file:///home/conda/feedstock_root/build_artifacts/comm_1670575068857/work
commonmark==0.9.1
contextily @ file:///home/conda/feedstock_root/build_artifacts/contextily_1634425997309/work
contourpy @ file:///D:/bld/contourpy_1667248269651/work
cryptography @ file:///D:/bld/cryptography_1669592332426/work
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1635519461629/work
debugpy @ file:///D:/bld/debugpy_1669710035832/work
decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1641555617451/work
defusedxml @ file:///home/conda/feedstock_root/build_artifacts/defusedxml_1615232257335/work
deprecation @ file:///home/conda/feedstock_root/build_artifacts/deprecation_1589881437857/work
descartes==1.1.0
docutils @ file:///D:/bld/docutils_1666755090587/work
entrypoints @ file:///home/conda/feedstock_root/build_artifacts/entrypoints_1643888246732/work
esda @ file:///home/conda/feedstock_root/build_artifacts/esda_1660931045600/work
executing @ file:///home/conda/feedstock_root/build_artifacts/executing_1667317341051/work
fastjsonschema @ file:///home/conda/feedstock_root/build_artifacts/python-fastjsonschema_1663619548554/work/dist
Fiona==1.8.22
flit_core @ file:///home/conda/feedstock_root/build_artifacts/flit-core_1667734568827/work/source/flit_core
folium @ file:///home/conda/feedstock_root/build_artifacts/folium_1670956290671/work
fonttools @ file:///D:/bld/fonttools_1666827219016/work
GDAL==3.6.1
geographiclib @ file:///home/conda/feedstock_root/build_artifacts/geographiclib_1624386157733/work
geopandas @ file:///home/conda/feedstock_root/build_artifacts/geopandas_1670698600430/work
geopy @ file:///home/conda/feedstock_root/build_artifacts/geopy_1668350868373/work
giddy @ file:///home/conda/feedstock_root/build_artifacts/giddy_1591802367630/work
googlemaps==2.5.1
h3 @ file:///D:/bld/h3-py_1667184829131/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1663625384323/work
importlib-metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1671416996338/work
importlib-resources @ file:///home/conda/feedstock_root/build_artifacts/importlib_resources_1671623401502/work
inequality==1.0.0
ipykernel @ file:///D:/bld/ipykernel_1671555400921/work
ipython @ file:///D:/bld/ipython_1669904345744/work
ipython-genutils==0.2.0
ipywidgets @ file:///home/conda/feedstock_root/build_artifacts/ipywidgets_1671720089366/work
jaraco.classes==3.2.3
jedi @ file:///home/conda/feedstock_root/build_artifacts/jedi_1669134318875/work
jenkspy @ file:///D:/bld/jenkspy_1668094354584/work
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1654302431367/work
jmespath @ file:///home/conda/feedstock_root/build_artifacts/jmespath_1655568249366/work
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1663332044897/work
json5 @ file:///home/conda/feedstock_root/build_artifacts/json5_1600692310011/work
jsonlines @ file:///home/conda/feedstock_root/build_artifacts/jsonlines_1596777080833/work
jsonschema @ file:///home/conda/feedstock_root/build_artifacts/jsonschema-meta_1669810440410/work
jupyter @ file:///D:/bld/jupyter_1670249778900/work
jupyter-console @ file:///home/conda/feedstock_root/build_artifacts/jupyter_console_1655961255101/work
jupyter-events @ file:///home/conda/feedstock_root/build_artifacts/jupyter_events_1671662222530/work
jupyter_client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1670253809910/work
jupyter_core @ file:///D:/bld/jupyter_core_1672266948723/work
jupyter_server @ file:///home/conda/feedstock_root/build_artifacts/jupyter_server_1672312237211/work
jupyter_server_terminals @ file:///home/conda/feedstock_root/build_artifacts/jupyter_server_terminals_1671471420435/work
jupyterlab @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_1671458208109/work
jupyterlab-pygments @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_pygments_1649936611996/work
jupyterlab-widgets @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_widgets_1671722028097/work
jupyterlab_server @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_server_1672062504702/work
keyring==23.13.1
kiwisolver @ file:///D:/bld/kiwisolver_1666805897768/work
libpysal @ file:///home/conda/feedstock_root/build_artifacts/libpysal_1668782270408/work
llvmlite==0.39.1
lxml @ file:///D:/bld/lxml_1671013620744/work
mapclassify @ file:///home/conda/feedstock_root/build_artifacts/mapclassify_1627363180059/work
MarkupSafe @ file:///D:/bld/markupsafe_1666770353356/work
matplotlib @ file:///D:/bld/matplotlib-suite_1667505027923/work
matplotlib-inline @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-inline_1660814786464/work
matplotlib-scalebar==0.8.1
mercantile @ file:///home/conda/feedstock_root/build_artifacts/mercantile_1619028378680/work
mgwr @ file:///home/conda/feedstock_root/build_artifacts/mgwr_1599671096782/work
mistune @ file:///home/conda/feedstock_root/build_artifacts/mistune_1657892024508/work
momepy @ file:///home/conda/feedstock_root/build_artifacts/momepy_1663708655873/work
more-itertools==9.0.0
mpmath @ file:///home/conda/feedstock_root/build_artifacts/mpmath_1612895720168/work
munch==2.5.0
munkres==1.1.4
mycolorpy==1.5.1
nbclassic @ file:///home/conda/feedstock_root/build_artifacts/nbclassic_1667492839781/work
nbclient @ file:///home/conda/feedstock_root/build_artifacts/nbclient_1669795076334/work
nbconvert @ file:///home/conda/feedstock_root/build_artifacts/nbconvert-meta_1671523743066/work
nbformat @ file:///home/conda/feedstock_root/build_artifacts/nbformat_1671474423563/work
nest-asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1664684991461/work
networkx @ file:///home/conda/feedstock_root/build_artifacts/networkx_1667391556261/work
nltk @ file:///home/conda/feedstock_root/build_artifacts/nltk_1670938023425/work
notebook @ file:///home/conda/feedstock_root/build_artifacts/notebook_1667565639349/work
notebook_shim @ file:///home/conda/feedstock_root/build_artifacts/notebook-shim_1667478401171/work
numba @ file:///D:/bld/numba_1669104119251/work
numpy @ file:///D:/bld/numpy_1668919236047/work
osmnx @ file:///home/conda/feedstock_root/build_artifacts/osmnx_1671062051796/work
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1670530880680/work
pandas @ file:///D:/bld/pandas_1669134626950/work
pandocfilters @ file:///home/conda/feedstock_root/build_artifacts/pandocfilters_1631603243851/work
parso @ file:///home/conda/feedstock_root/build_artifacts/parso_1638334955874/work
patsy @ file:///home/conda/feedstock_root/build_artifacts/patsy_1665356157073/work
pep517==0.13.0
pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1602536217715/work
Pillow @ file:///D:/bld/pillow_1671459164297/work
pkginfo==1.9.2
pkgutil_resolve_name @ file:///home/conda/feedstock_root/build_artifacts/pkgutil-resolve-name_1633981968097/work
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/platformdirs_1672264874562/work
ply==3.11
pointpats @ file:///home/conda/feedstock_root/build_artifacts/pointpats_1659367300621/work
prometheus-client @ file:///home/conda/feedstock_root/build_artifacts/prometheus_client_1665692535292/work
prompt-toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1670414775770/work
psutil @ file:///D:/bld/psutil_1667886042967/work
PuLP @ file:///D:/bld/pulp_1667483163630/work
pure-eval @ file:///home/conda/feedstock_root/build_artifacts/pure_eval_1642875951954/work
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1636257122734/work
pygeos @ file:///D:/bld/pygeos_1670848522707/work
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1660666458521/work
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1665350324128/work
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1652235407899/work
pyproj @ file:///D:/bld/pyproj_1670929591312/work
PyQt5==5.15.7
PyQt5-sip @ file:///D:/bld/pyqt-split_1666830111760/work/pyqt_sip
pyrsistent @ file:///D:/bld/pyrsistent_1667498877747/work
pysal @ file:///home/conda/feedstock_root/build_artifacts/pysal_1659367727833/work
PySocks @ file:///D:/bld/pysocks_1661604991356/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1626286286081/work
python-json-logger @ file:///home/conda/feedstock_root/build_artifacts/python-json-logger_1671655909697/work
python-pptx @ file:///home/conda/feedstock_root/build_artifacts/python-pptx_1632192452181/work
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1671365381334/work
pywin32==304
pywin32-ctypes==0.2.0
pywinpty @ file:///D:/bld/pywinpty_1666866061853/work/target/wheels/pywinpty-2.0.9-cp39-none-win_amd64.whl
PyYAML @ file:///D:/bld/pyyaml_1666772623553/work
pyzmq @ file:///D:/bld/pyzmq_1666828546753/work
qtconsole @ file:///home/conda/feedstock_root/build_artifacts/qtconsole-base_1667404144336/work
QtPy @ file:///home/conda/feedstock_root/build_artifacts/qtpy_1667873092748/work
quantecon @ file:///home/conda/feedstock_root/build_artifacts/quantecon_1655746571862/work
quilt3 @ file:///home/conda/feedstock_root/build_artifacts/quilt3_1647621686355/work/api/python
rasterio==1.3.4
rasterstats @ file:///home/conda/feedstock_root/build_artifacts/rasterstats_1658854667468/work
readme-renderer==37.3
regex @ file:///D:/bld/regex_1667265212827/work
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1661872987712/work
requests-futures @ file:///home/conda/feedstock_root/build_artifacts/requests-futures_1596777502329/work
requests-toolbelt==0.10.1
rfc3986==2.0.0
rich==12.6.0
Rtree @ file:///D:/bld/rtree_1666812221954/work
rvlib @ file:///D:/bld/rvlib_1671033412385/work
s3transfer @ file:///home/conda/feedstock_root/build_artifacts/s3transfer_1654039987929/work
scikit-learn @ file:///D:/bld/scikit-learn_1670523725139/work
scipy==1.9.3
seaborn @ file:///home/conda/feedstock_root/build_artifacts/seaborn-split_1666117478708/work
segregation @ file:///home/conda/feedstock_root/build_artifacts/segregation_1659363234895/work
Send2Trash @ file:///home/conda/feedstock_root/build_artifacts/send2trash_1628511208346/work
Shapely==1.8.5.post1
simplejson @ file:///D:/bld/simplejson_1668510502628/work
sip @ file:///D:/bld/sip_1669040051908/work
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
sniffio @ file:///home/conda/feedstock_root/build_artifacts/sniffio_1662051266223/work
snuggs==1.4.7
soupsieve @ file:///home/conda/feedstock_root/build_artifacts/soupsieve_1658207591808/work
spaghetti @ file:///home/conda/feedstock_root/build_artifacts/spaghetti_1667415946724/work
spglm @ file:///home/conda/feedstock_root/build_artifacts/spglm_1599674431915/work
spint @ file:///home/conda/feedstock_root/build_artifacts/spint_1612437640828/work
splot @ file:///home/conda/feedstock_root/build_artifacts/splot_1649898658322/work
spopt @ file:///home/conda/feedstock_root/build_artifacts/spopt_1655150061954/work
spreg @ file:///home/conda/feedstock_root/build_artifacts/spreg_1667002162207/work
spvcm==0.3.0
stack-data @ file:///home/conda/feedstock_root/build_artifacts/stack_data_1669632077133/work
statsmodels @ file:///D:/bld/statsmodels_1667586210685/work
sympy @ file:///D:/bld/sympy_1666835587832/work
tenacity @ file:///home/conda/feedstock_root/build_artifacts/tenacity_1663807083684/work
terminado @ file:///D:/bld/terminado_1652790835377/work
textblob==0.15.3
threadpoolctl @ file:///home/conda/feedstock_root/build_artifacts/threadpoolctl_1643647933166/work
tinycss2 @ file:///home/conda/feedstock_root/build_artifacts/tinycss2_1666100256010/work
tobler @ file:///home/conda/feedstock_root/build_artifacts/tobler_1645560589513/work
toml @ file:///home/conda/feedstock_root/build_artifacts/toml_1604308577558/work
tomli @ file:///home/conda/feedstock_root/build_artifacts/tomli_1644342247877/work
tornado @ file:///D:/bld/tornado_1666788767305/work
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1662214488106/work
traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1671473371426/work
twine==4.0.2
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1665144421445/work
unicodedata2 @ file:///D:/bld/unicodedata2_1667240049903/work
Unidecode @ file:///home/conda/feedstock_root/build_artifacts/unidecode_1664588179651/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1669259737463/work
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1600965781394/work
webencodings==0.5.1
websocket-client @ file:///home/conda/feedstock_root/build_artifacts/websocket-client_1667568040382/work
weightedstats==0.4.1
widgetsnbextension @ file:///home/conda/feedstock_root/build_artifacts/widgetsnbextension_1672066693230/work
win-inet-pton @ file:///D:/bld/win_inet_pton_1667051142467/work
wincertstore==0.2
wordcloud @ file:///D:/bld/wordcloud_1661464020496/work
XlsxWriter @ file:///home/conda/feedstock_root/build_artifacts/xlsxwriter_1645975313810/work
xyzservices @ file:///home/conda/feedstock_root/build_artifacts/xyzservices_1663619671984/work
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1669453021653/work
